@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
*{
   box-sizing: border-box;
}
body{
    background-color: hsl(240, 78%, 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
   min-height: 100vh;

}
body::before{
    content: '';
    background-image: url('./bg-top.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
body::after{
    content: '';
    background-image: url('./bg-bottom\(1\).svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.container{
    max-width: 100%;
    margin: auto;
    width: 1200px;
}
.flex{
    display: flex;

    align-items: center;
    justify-content: center;
}
h1{
    color: hsl(233, 13%, 49%);
}
.toggle-contaier{
    color: hsl(234, 14%, 74%);
    margin-bottom: 40px;
}
.price-box{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color:hsl(233,13%,49%);

    padding: 30px;
    margin: 10px;

}
.price-box.price-box2{
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
    color:  #fff;
    transform: scale(1.15);

}
.price-box h4{
    margin: 0;
}
.price-box p{
    font-size: 4em;
    margin: 15px 0;
    color:  hsl(232, 13%, 33%);

}
.price-box.price-box2 >*{
    transform: scale(0.869);
}
.price-box ul{
    padding: 0;
    list-style-type: none;
}
.price-box ul li{
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 15px 0;
    font-size: 14px;
}
.price-box button{
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
    color: #fff;
    padding: 15px;
    width: 100%;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 10px;



}
.price-box.price-box2 button{
  background-image: none;
  background-color: #fff;   
  color: hsl(237,63%,64%);
}
.price-box.price-box2 ul,
.price-box.price-box2 ul li{
    border-color: #f0f0f0;
}
.price-box.price-box2 p{
    color: #fff;
}
.toggle-contaier label{
    width: 70px;
    height: 30px;
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
    display: inline-block;
    border-radius: 50px;
    position: relative;
    margin: 0 10px;
    

}
.toggle-contaier label .ball{
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    background-color: #fff;
    width: 25px;
}
.toggle-contaier input{
    position: absolute;
    
}
.toggle-contaier{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen  and (max-width:930px) {
    .flex{
        flex-direction: column;
    }
    .price-box.price-box2{

        transform: scale(1);
    }
    .price-box.price-box2>*{

        transform: scale(1);
    }
}